body{
    margin:0px;
    padding:0px;
    align-content: center;
    font-family: Rockwell;
}

a{
    font-style: bold;
    padding: 20px;
}

a.button#game_menu{
    height:20px;
    padding:0 30%;
    width:40%;
    border-radius: 0 0 25px 25px;
    border: 0;
}

#gameDiv{
    margin:0 2%;
}

.mainbodyHTP{
    width: 80vw;
    height:70vw;
    margin-left:10vw;
    padding-left:5vw;

}

#game-title{
    color:white;
    font-size: 10vw;
    margin:10vw 25vw;
    text-align: center;
}

.text{
    font-size:24px;
}
.textmed{
font-size: 32px;
    color:white;
}
.textlarge{
font-size: 42px;

    color:white;
}

.nav {
    width:50vw;
    height:10vw;
    background-color: mediumblue;
    color: white;
    font-size: xx-large;
}

.contentbody{
    width:100%;
    padding:0;
    margin:0;
    text-align: center;

}

.button {
    font-size:xx-large;
    text-decoration: none;
    background-color: mediumblue;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-color: white;
    border-style: double;
    width:20vw;
    height:10vw;
    margin-left:0vw;
}

.atag{
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    width:60vw;
    height:10vw;
    background-color: mediumblue;
    color: white;
    font-size: xx-large;
}

#gameDiv1{

    margin-left: 60vw;
}